modules = ["nodejs-20"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "GOA Website"

[[workflows.workflow]]
name = "GOA Website"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server/index.js"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5555
externalPort = 3000

[[ports]]
localPort = 23636
externalPort = 3001

[[ports]]
localPort = 23637
externalPort = 3003

[[ports]]
localPort = 24678
externalPort = 3002

[deployment]
deploymentTarget = "vm"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
GOOGLE_CLIENT_EMAIL = "gloria-adah@gloria-adah.iam.gserviceaccount.com"
GOOGLE_PRIVATE_KEY = """
-----BEGIN PRIVATE KEY-----
MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDfvYg3T159u4gw
1o/dzWvWJfxZ3AyLwnufJRcE80knId0uDOzYSpiFPv/iwPKkOa2AyKrrM3t2AZlF
2RYNksT0C3XJkPKS5sBnHHsZd/mwIvBNMlYtIo/lCudvbQRlPDag8EKtlzdUqvc9
q2zqRsBXR0O2X36SaVoTXcM09nE24O8O5y3c2+aFI6f4a4gn5j1JAeaJSyc4f+O8
k+UN1MoMt+ikzDtAm2DE8bHDd3zmRSvnIoWWcm3pFbjREqtu9H8WLF+Em3eJGgA4
MXs69HihyYMPi2L3Ikr12ceVndHXRwdCVdmeXNerMsr1W6ML8G3oka4+FQAvXvXr
i+m0l6XtAgMBAAECggEACF4bQQ5L12HzFvh/SulK1ih3hpjPM07jtrD5amr62mbO
0dET7objq2AOy9kxeejaT02x7rfvLxuiMtWKmJlbmlDvZ8lu+QV+Ppz3EZ3GDctQ
t2JhjLCVNxiwTR+DoZGd7Wju5XUZUaZPNtQ5b42T1e/JXYG2xxz/jGfeTBXHaCjx
gP7uOcKIuiMU3UTq81BQ+Blr0bRqkyJbMVFr/NvUwKXQ9tCAq62SOgvybszEXQ4D
Z8SgPtX7lCCVyt8H2ilw9DY626tGmSPs1cSwtfuj6w5SIyxXOSD0PDhJxcBL0Ywz
xOHZVWfdPsfK+XcVogMXTSgRWd3Jx3nf4GWckWeHoQKBgQDxBKZcubOEU46vhSTC
qV2eur0o0q0b0bdgLwgER6aDbnxlPlHXcyL+ufZCsicWWVSYwRGYonpwjUDhWavX
KF8OTRlFxDQvnY3Yfz4jfoctsqcwUmJ/lgaoFCqu1dLW31kIvol6+cod9XBvpFnC
DqAGbUIOuQwhQttrvKsbqMbyWQKBgQDtpfBD2kdaf7p3hp83G82hH55CxBEC/PxJ
GLXVduyegznHOZ8axnJwfxv4pqcTHaoGYHLlR7YlCYKLsc5df8pHWy1PPTQtqRB+
ByBp8aiGSrWS0V9eQ71jC9Nx8WXroYy4hsNCn9o0KMBl1rGMe05jEa0nnwcHG8KW
yvnFetUVtQKBgQDPU+ioKza5xgcgBbCxo2/dc1X1IAW5wJW2L779r4UV2p03mnxc
kbaw2Nd2WDo3h3C2Vp8EZgBdgaUmNTUVSK08aCYtVbJuo2G5svuJHPa74MrhTn1c
s3nWbEKrU1Sjck3sr7skBmxPiSrHXuG3hU0zOhlxAM3mbtTBwPKQQIejQQKBgGif
SStWCVu6J6k/RxDH2Ls6ZD4YezTJk3fKvSKA/KK8Os+OepEbFH6aNwI8vAkaYiP0
iiCOdY3QpfxCBwv6ml7XsRbVZwdDCtOw54A8t2iHs3AzZLznLZVRO4FKOQiHUqBa
E9Rc839LAYjT/85M6rGKsqRiyoFCo2Qnb9aUwQKRAoGARuQ8WHGe9repnNzAD62n
Ik1/ZehscpPNj9/fn1fiCQDEPmihbcm4UEZjn7B3SEjydHUyn8Q29mHKPJV84MEz
lTyw1Wh5h5+BsQhNEcoNY1ZdvS7FJDXC9iU6LVgdgw0Lt0gurAEnIv0uuOCapAes
3+tp8NLJ4KLBfPpeGGw5PZI=
-----END PRIVATE KEY-----
"""
GOOGLE_CALENDAR_ID = "olamideode574@gmail.com"
